* {
    margin: 0;
    padding: 0;
}

.mobile {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 600px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    body {
        font-family: 'Montserrat', sans-serif;
    }

    /*----------------- Página inicial --------------------*/
    h1 {
        font-size: 6vw;
        text-align: center;
        margin-top: 40vw;
        margin-bottom: 20vw;
    }

    p {
        margin-left: 7vw;
        margin-bottom: 5vw;
    }

    /*inputs página inicial*/
    .custom-radio {
        position: relative;
        width: 80vw;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 3vw;

        margin-left: 7vw;
        margin-bottom: 5vw;
        border-radius: 5px;
    }

    .custom-radio input {
        display: none;
    }

    .custom-radio span {
        width: 15px; 
        height: 15px; 
        border: 2px solid #ccc;
        border-radius: 50%;
        margin-right: 10px;
        position: relative;
        transition: border-color 0.3s;
    }

    .custom-radio input:checked + span {
        border-color: #F9690B;
    }
    /* bolinha de dentro */
    .custom-radio input:checked + span::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        background: #F9690B;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    /*---------------- Adicionar Contactos --------------*/

    h2{
        margin-left: 7vw;
        margin-top: 20vw;
        margin-bottom: 12vw;
    }

    #custom-tel,input{
        font-family: 'Montserrat', sans-serif;
        font-size: 4.5vw;

        position: relative;
        width: 80vw;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 3vw;


        margin-left: 7vw;
        margin-bottom: 5vw;
        border-radius: 5px;
    }

    /*--------------- Notificações ------------------*/

    h4{
        margin-left: 7vw;
        margin-bottom: 2vw; 
    }

    div.noti_container{
        position: relative;
        width: 80vw;
        height: 10vw;
       
        align-items: center;
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 3vw;

        margin-left: 7vw;
        margin-bottom: 5vw;
        border-radius: 5px;
    }

    p.date{
        font-size: 3.8vw;
        margin-bottom: 1vw;
    }

    p.info{
        margin-top: 0;
    }

    img.button{
        position: absolute;
        width: 6vw;
        top:5.5vw;
        right:5.5vw;
    }

    /*---------------Página Mapa---------------*/
    .map{
        width: 100vw;
        height: 100vh;
    }
}
