* {
    margin: 0;
    padding: 0;
}

.mobile {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 600px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
        position:relative;
    }
    body {
        font-family: 'Montserrat', sans-serif;
    }

    /*----------------- Página inicial --------------------*/
    h1 {
        font-size: 6vw;
        text-align: center;
        margin-top: 40vw;
        margin-bottom: 20vw;
    }

    p {
        margin-left: 7vw;
        margin-bottom: 5vw;
    }

    /*inputs página inicial*/
    .custom-radio {
        position: relative;
        width: 80vw;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 3vw;

        margin-left: 7vw;
        margin-bottom: 5vw;
        border-radius: 5px;
    }

    .custom-radio input {
        display: none;
    }

    .custom-radio span {
        width: 15px; 
        height: 15px; 
        border: 2px solid #ccc;
        border-radius: 50%;
        margin-right: 10px;
        position: relative;
        transition: border-color 0.3s;
    }

    .custom-radio input:checked + span {
        border-color: #F9690B;
    }
    /* bolinha de dentro */
    .custom-radio input:checked + span::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        background: #F9690B;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    /*---------------- Adicionar Contactos --------------*/

    h2{
        margin-left: 7vw;
        margin-top: 20vw;
        margin-bottom: 12vw;
    }

    #custom-tel,input{
        font-family: 'Montserrat', sans-serif;
        font-size: 4.5vw;

        position: relative;
        width: 80vw;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 3vw;


        margin-left: 7vw;
        margin-bottom: 5vw;
        border-radius: 5px;
    }
    .nxt_button{
        background-color: #F9690B;
        color: white;
        border-radius: 5vw;
        width: 30vw;

        display: inline-block;
        text-align: center;
        font-weight: 500;

        position: absolute;
        right:6vw;

        margin-top: 1vh;
    }
    /*--------------- Notificações ------------------*/

    h4{
        margin-left: 7vw;
        margin-bottom: 2vw;
        font-weight: 600;
    }

    div.noti_container{
        position: relative;
        width: 80vw;
        height: 10vw;
       
        align-items: center;
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 3vw;

        margin-left: 7vw;
        margin-bottom: 5vw;
        border-radius: 5px;
    }

    p.date{
        font-size: 3.8vw;
        margin-bottom: 1vw;
    }

    p.info{
        margin-top: 0;
    }

    img.button{
        position: absolute;
        width: 6vw;
        top:5.5vw;
        right:5.5vw;
    }

    /*---------------Página Mapa---------------*/
    .map{
        width: 100vw;
        height: 99vh;

        z-index:0;
    }

    a#back_click{
    position: absolute;
    background-color: white;
   
    left: 3vw;
    top: 8vh;
    padding: 2vw;
    border-radius: 10vw;

    width: 5vw;
    height: 5vw;

    z-index: 4;
    }

    a#back_click > img{
        transform: scaleX(-1);
        margin-left:-0.5vw;
    }
    div.title{
        display: flex;
        align-items: center;
        margin-bottom: 10vw;
    }

    div.title > h4{
        font-size: 4.5vw;
        margin-bottom: 0;
    }

    div.title > img{
        width: 17vw;
    }

    div.info_container{
        background-color: white;
        border-top-left-radius: 20vw;
        border-top-right-radius: 20vw;
        padding: 8vw;
        height: 80vw;
        position: absolute;
        bottom:0;
    }

    h4.location_title{
        position: absolute;
        top: 17vw;
        left: 25vw;
        background-color: #f3f3f3;
        padding:3vw;
        border-radius: 30vw;
    }

    /*-------------- NavBar ----------------------*/
    nav{
        position: absolute;
        background-color: white;
        border-top: 2px solid #f3f3f3;
        width: 100vw;
        height: 7vh;
        display: flex;
        gap: 20vw;
        bottom: 0;
        align-items: center;
    }

    nav > a.nav_button{
        margin-left: 22vw;
        margin-top: 1vh
    }

    nav > a.nav_button > img{
        width: 7vw;
    }


    /*------------ Profile ----------------*/

    div.profile_title{
        display: grid;
        justify-content: center;
    }

    .user_name{
        margin-left: 0;
        margin-top: 2vh;
    }

    .img_profile{
        width: 30vw;
    }

    ul.list{
        position: relative;
        list-style: none;
        margin-top: 10vh;
        margin-left: 7vw;
    }

    ul.list > li{
        position: relative;

        width: 75vw;
        padding: 5vw;
        border-top: 1px solid #BABABA; 
    }

    ul.list > li:nth-last-child(1){
        color: red;
        border-bottom: 1px solid #BABABA; 
    }
}
